
<h2>Available Pets <%= link_to "(+)", new_dog_path %></h2>

<ul>
  <% @pets.each do |pet| %>
    <li>
      <div>
      <a href="/dogs/<%= pet.id %>">
        <%= pet.name %>
      </a>
      <div class='image'>
      <%= image_tag pet.picture %>
    </div>
  </div>
    </li>
  <% end %>
</ul>
