<div class='section' id='all_pets'>
<h2>Available Pets <%= link_to "(+)", new_dog_path %></h2>
<div class='container'>
  <div class='row'>
<ul id='container'>
  <% @pets.each do |pet| %>
    <li class='pet_items'>
      <a href="/dogs/<%= pet.id %>">
        <%= pet.name %>
      </a>
      <div>
      <%= image_tag pet.picture %>
  </div>
    </li>
  <% end %>
</ul>
</div>
</div>
</div>
