<h2>New Dog</h2>

<form action='/dogs' method='post'>
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for='dog[name]'>Name</label>
  <input name='dog[name]'>

  <label for='dog[age]'>Age</label>
  <input name='dog[age]'>

  <input type='submit' value='Create'>

</form>
