<button><a href='/pets'>Home</a></button>
<h2><%= @pet.name %><a href="/pets/<%= @pet.id %>/edit">(edit)</a></h2>
      <%= image_tag @pet.picture %>
      <div><%= simple_format h(@pet.description) %></div>
