<!DOCTYPE html>
<html>
<head>
  <title>AllAboutChew</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>
  <header class='modal-header'>
  <h1 class="page-title"> All About Chew </h1>
  <nav>
    <div class='row tabs-wrapper'>
      <ul id="nav-mobile-list" >
        <li><%= link_to 'Home', root_path %></li>
        <li class='brand-logo right'><span >All About Chew</span></li>
      </ul>
    </div>
  </nav>
</header>
<main>
<%= yield %>
</main>
</body>
</html>
